body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
}
.list {
  list-style: none;
}
.header-logo1 {
  color: #2196f3;
}
.header-logo2 {
  color: #000000;
}

/*цвет основного текса <p> и тел. в хедере #757575*/
/*цвет текста h2,h3 <Портфолио,контакты> #212121*/
/* цвет текста h1,кнопки,адреса и лого <Studio> в футере #FFFFFF*/
/* цвет навигации в футере rgba(255, 255, 255, 0.6)*/
/* цвет акцента #2196F3*/
/* цвет лого <Studio> в хедере #000000*/

/*цвет подложки #E5E5E5*/
/* цвет фона #FFFFFF*/
/* акцент фона #2F303A*/
/* цвет кнопки #2196F3*/
/* цвет фона наша команда #F5F4FA*/
